<!DOCTYPE html>
<html lang="en" ng-app="blog">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title ng-bind="top_title+'|'+site_name"></title>
    <!-- Bootstrap core CSS -->
    <link href="/style/bootstrap-blog.min.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="/style/app.css" rel="stylesheet">
    <script src="/script/jquery-2.0.3.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>
    <script src="/editor/kindeditor.js"></script>
    <script src="/script/angular.js"></script>
    <script src="/script/angular-route.js"></script>
    <script src="/script/resource.js"></script>
    <script src="/script/sanitize.js"></script>
    <script src="/script/checklist-model.js"></script>
    <script src="/script/moment/moment.min.js"></script>
    <script src="/script/angular-moment/angular-moment.min.js"></script>
    <script src="./script/moment/moment-timezone.js"></script>
    <script src="./script/moment/moment-timezone-data.js"></script>
    <script src="/script/moment/lang/zh-cn.js"></script>
    <script src="/script/app.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{site_name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:nav=='home'}"><a href="/">首页</a></li>
                    <li ng-class="{active:nav=='works'}"><a href="/works">开源作品</a></li>
                    <li ng-class="{active:nav=='video'}"><a href="/video">视频教程</a></li>
                    <li ng-class="{active:nav=='about'}"><a href="/about">关于我</a></li>
                    <!--
                    <li ng-class="{active:nav=='guestbook'}"><a href="/guestbook">留言板</a></li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-8" ng-view autoscroll="true">
            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>搜索文章</h4>
                    <form action="/">
                        <div class="input-group">
                            <input type="text" name="kw" value="{{kw}}" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>文章分类</h4>
                    <div class="row">
                        <div class="col-lg-6" ng-repeat="cate in categories">
                            <a href="/?cate={{cate}}">{{cate}}</a>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>关于我</h4>
                    <p class="about_me">
<iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=10&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1631767865&verifier=efc8c820&dpc=1"></iframe>
                    　极客优才CTO，ThinkPHP核心开发者之一，曾就职于新浪云计算。喜欢交流分享、热爱开源。为开源项目贡献过一些代码，除了ThinkPHP，另外还参与TeamToy等开源项目,还有一些自己独立完成开源项目，比如SocketLog。请关注我的微博，和我一起交流分享。
                    </p>
                </div>
                <!-- /well -->

                <div class="well">
                    <h4>关于本博客</h4>
                    <p class="about_me">
                       　本博客是一个没有后端代码的动态网站。<br /> 　采用AngularJs+AVOS Cloud实现。只有前端代码,没有后端代码。前端页面托管在Github Page上，项目地址：<a href="https://github.com/luofei614/luofei614.github.io" target="_blank">https://github.com/luofei614/luofei614.github.io</a> 大家可以用它来搭建一个免费的不用备案的博客，也把它当作学习AngularJs的同学当例子看。
                    </p>
                </div>
                <!-- /well -->


            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; LUOFEI.CO 2014 | <a href="javascript:void(0)" ng-show="!username" ng-click="login();">管理员登录</a> <a ng-show="username" href="javascript:void(0);" ng-click="edit();">发布文章</a></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>
