<h1><a href="/works">关于我</a></h1>
<hr>
<p class="clearfix">
<img src="/image/avatar.png"  style="width:80px; height:80px; margin-right:15px; float:left;">
极客优才CTO，ThinkPHP核心开发者之一，曾就职于新浪云计算。喜欢交流分享、热爱开源。为开源项目贡献过一些代码，除了ThinkPHP，另外还参与TeamToy等开源项目,还有一些自己独立完成开源项目，比如SocketLog。常用网名：luofei614、 江湖载酒行。微博账号： <a href="http://weibo.com/luofei614" target="_blank">@luofei614</a>
</p>
<h3>技术背景</h3>
<p>
 　  我从事互联网开发，全因自己的兴趣爱好，并没有受过专业的学习，我高中时就开始自己编程， 我高中没毕业就出来做网站开发， 刚开始两年自己做建站工作室时，网站从谈业务到设计和网站的前后端代码，都是自己一个人完成，遇到不会的东西就马上学， 两年中接触过各种网站，学到不少东西。<br /> 
  　    我也在上海顶想待过，跟刘晨老大学会了很多编程思想，特别是大道至简对我影响很深。<br /> 
   　   我在新浪云计算待了两年，大公司中牛人很多，能接触到很多新技术，陈理捷当时是负责新浪云计算整个产品的，我从他那里也学到不少东西。 后面我和他一起从新浪离职去创业，现在在做创新工场投资的快简历项目。
</p>
<h3>成长路线</h3>
<p>
  　  我认为程序员一般会经历三个阶段： 实现—>借鉴—优化<br />
  　  每一个阶段都可能是一个转折点。 <br /> 
  　    第一个阶段：实现， 在这阶段我们只在乎功能的实现，不会考虑性能优化，我们会觉得一些功能不会做，一些功能自己没做，我们只要实现了功能，就觉得很有成就感。我开建站工作室的那两年处于这个阶段，在这阶段中，我们要多去做事，没做过的就去做。要注意培养自己的全面能力，前端、后端、服务器等要去接触。<br />
   　   第二个阶段：借鉴，当我们觉得基本所有功能自己都能实现的时候，我们会遇到自己的第一个瓶颈，这时候不要自满，要发现那只是自己的第一个瓶颈而已，自己的提升空间还很大，这时候建议大家多借鉴别人的东西，看一些开源程序的源码，读别人的程序能学到很多东西，或许有人认为别人能实现的自己也能实现，不屑于看别人的东西，美国一位大师Matt Zandstra说过这样一句话： 我们正在努力开发的功能，或许已经被其他程序员实现过无数次，我们怎么不借鉴他们的。 把重心放在自己特有的业务逻辑上。 我的第二个阶段主要是在上海顶想的时候，当时对ThinkPHP源码理解更为深刻了。<br />
	 　  第三个阶段：优化，当我们功能都能实现了，也借鉴了许多别人的东西时候，这时候我们的重心会想着怎么优化我们的代码， 我们会考虑代码的可读性、安全性、可扩展性。这时候建议大家可以看一些设计模式、编程思想、网站安全方面的书， 我的第三个阶段，主要是在新浪云计算里面，特别是安全方面提升不少， 因为我们每作为一个项目，都有专门新浪安全部门同事做安全测试。<br />
    　   第三个阶段之后应该还有很多阶段，只是我现在还总结不出来，不管在那个阶段，我们都要虚心学习。
</p>

<h3>给朋友们的建议</h3>
<p>
     　    我的建议是不管什么时候我们都要不断学习。事情对于会的人来说容易，对于不会的人来说难，当我们遇到困难的时候，证明我们还有东西不会，这时候需要学习而不是放弃。我们要去接触新事物， 尤其是开发者，每年都会有新技术出现，也许过几年你现在用的技术就落后。接触新事物的态度：<br />
1，	不要觉得对自己现在没有用，要看对社会有没有价值，如果有社会价值，就是一个好的新事物，去学习它以后会给你带来商业价值。<br />
2，	不要觉得和以前知道的东西一样，要和以前你知道的东西做比较。<br />
3，	不要觉得现在没有足够的时间去学习他，你可以先了解他，了解一个东西最多花一个小时。如果实在没时间学习，你可以先了解，等到以后需要用到时再仔细学习。
</p>
<h3>创业项目</h3>
<p>
     　   我再介绍一下我现在创业做的快简历项目<br /> 
      　       快简历是一个专为程序员设计的求职网站，在快简历上我们展示的不在只是职位要求，还有招聘的技术主管，大家可以在上面找到自己合适的主管，将简历直接投递给技术主管。<br />
        　      我们为求职者考虑的更多，传统的求职方式，简历投给HR，求职者可能并不知道自己会去哪个部门、主管是谁。在快简历上求职者能充分了解招人的主管、部门和项目。简历直接投递给技术主管，不经过HR。我们充分保护求职者的隐私，求职者投递的简历，只能投递的主管能看见，不会被其他人搜索到。 求职者还能知道主管处理简历的状态，比如是否阅读过简历，能直接联系主管，不会让求职感觉简历投递后没有任何反馈。
        <br />
         　             <a href="http://kuaijianli.com" target="_blank">访问快简历</a>
</p>
