<!-- blog entry -->
<h1><a href="/article/{{article.objectId}}">{{article.title}}</a></h1>
<div class="clearfix">
        <div class="pull-left">
        by <a href="javascript:void(0);">{{article.by}}</a>
        </div>
         <div class="pull-right">
             <span class="glyphicon glyphicon-time"></span> 发表于 {{article.createdAt|amCalendar}}
         </div>
</div>
<hr>
<img src="{{article.pic}}" class="img-responsive">
<hr>
<div ng-bind-html="article.content|all|unsafe"></div>
<div class="action_bar clearfix">
<a class="btn btn-primary pull-right" ng-show="username" href="javascript:void(0);" ng-click="del($index)"><i class="glyphicon glyphicon-trash"></i>删除</a>
<a class="btn btn-primary pull-right" ng-show="username" href="javascript:void(0);" ng-click="edit(article);"><i class="glyphicon glyphicon-pencil"></i>编辑</a>
</div>
<hr>
<div ng-bind-html="script|unsafe">
</div>
