<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title">发布文章</h4>
</div>
<form name="articleform" ng-submit="save()">
<div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="文章标题" required ng-model="article.title"  /> 
        <div ng-show="articleform.title.$dirty && articleform.title.$error.required" class="error">标题必填!</div>
    </div>
    <div class="form-inline">
        主题图片：
        <label class="radio" ng-repeat="pic in header_pics">
            <input type="radio" name="sys_pic" ng-click="article.pic=pic.url"  value="{{pic.url}}"> {{pic.name}} 
            &nbsp;&nbsp;&nbsp;
        </label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="pic" placeholder="输入主题图片，http://" required ng-model="article.pic"  /> 
        <div class="error" ng-show="articleform.pic.$dirty && articleform.pic.$error.required">
            主题图片必须填写
        </div>
    </div>
    <div class="form-group">
        <textarea placeholder="文章内容" name="content"  ng-model="article.content"  blog-editor required style="width:400px;height:200px;"></textarea>
        <div ng-show="articleform.content.$dirty && articleform.content.$error.required" class="error">文章内容必填!</div>
    </div>
    <div class="form-inline">
        作者：<input class="form-control" ng-model="article.by" required ng-init="article.by=article.by||username" />    
        <br />
        <br />
    </div>
    <div class="form-inline">
        分类： 
        <div class="checkbox" ng-repeat="cate in categories">
        <label>
            <input type="checkbox"  checklist-model="article.cate" checklist-value="cate" /> {{cate}}   
        </label>
        </div>
    </div>
    <div class="form-group">
        是否置顶：<input type="checkbox" ng-init="article.is_top=article.is_top || false" ng-model="article.is_top">
        <input type="hidden" ng-model="article.objectId">
    </div>
        
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
<button type="submit" ng-disabled="!articleform.$valid" class="btn btn-primary">{{article.objectId?'修改':'发布'}}</button>
</div>
</form>
