<h1><a href="/works">开源作品</a></h1>
<hr>
<img src="/image/header_pic/4.png" class="img-responsive">
<hr>
<h3>ThinkPHP</h3>
<p>
　ThinkPHP是目前国内最流行的开源PHP框架，是为了简化企业级应用开发和敏捷WEB应用开发而诞生的。最早诞生于2006年初，原名FCS，2007年元旦正式更名为ThinkPHP，并且遵循Apache2开源协议发布。早期的思想架构来源于Struts，后来经过不断改进和完善，同时也借鉴了国外很多优秀的框架和模式，使用面向对象的开发结构和MVC模式，融合了Struts的Action和Dao思想和JSP的TagLib（标签库）、RoR的ORM映射和ActiveRecord模式，封装了CURD和一些常用操作，单一入口模式等，在模版引擎、缓存机制、认证机制和扩展性方面均有独特的表现<br />
　我在ThinkPHP项目中主要贡献有：参与2.1，2.2核心版本设计。开发SAE云引擎，Cluster云引擎,使ThinkPHP对云平台无缝兼容，让使用ThinkPHP感觉不到云平台和普通环境的区别。开发了TPM(ThinkPHP Mobile) 用户能将自己开发的网站打包成APP，让用户使用ThinkPHP一次编码同时拥有电脑网站、手机网站、手机APP。另外还开发了一些扩展，如Auth类认证。
<a href="http://www.thinkphp.cn" target="_blank">访问ThinkPHP官方网站</a>
</p>

<h3>TeamToy</h3>
<p>
 　TeamToy是一款面向创新团队的多人TODO（待办事项）工具，目标是打通团队中每个人的工作，可以方便地对其他工作伙伴的进行评论、求助、点名和广播。
 我们可以用TeamToy作为团队协作的工具，管理自己的日常工作。TeamToy同时提供网站和手机APP。我在TeamToy项目中主要实现了看板功能。<a href="http://tt2net.sinaapp.com/" target="_blank">访问TeamToy官方网站</a>　
</p>


<h3>SocketLog</h3>
<p>
　SocketLog是一款开源的调试工具。正在运行的API有bug，不能var_dump进行调试，因为会影响client的调用。 将日志写到文件，查看也不方便，特别是带调用栈或大数据结构的文件日志，查看日志十分困难。 这时候用SocketLog最好，SocketLog通过websocket将调试日志打印到浏览器的console中。你还可以用它来分析开源程序，分析SQL性能，结合taint分析程序漏洞。<br />
　它能代替ChromePHP、FirePHP等工具，ChromePHP等是通过header通信，适合AJAX调试，但不适合API调试，而且它们是通过Header通信，Chrome浏览器对传递Header大小有限制，日志如果多了，Chrome浏览器就无法支持。<a href="https://github.com/luofei614/SocketLog" target="_blank">更多说明</a>

</p>
<h3>Angularjs-Blog</h3>

<h3>SaeServer</h3>
<p>
 　   SaeServer是一款开源的WAMP运行环境， 可以作为SAE本地模拟环境，完整的模拟了SAE的所有服务，也能作为普通运行环境。有SAE开关，关闭SAE后可 作为普通环境。自带许多常用工具如phpmyadmin、xdebug、pear、memcache、mongodb、sqlite等。<a href="http://vdisk.weibo.com/s/53OwH" target="_blank">下载使用</a>
</p>

<h3>gkwp</h3>
　    Gkwp是首个wordpress中文主题开发框架，，它将使我们开发wordpress主题更加快速、简单。<br />
它具有以下特性：<br />
1.支持子主题(child-theme)开发模式，不改变框架本身代码，实现对文件的修改。强烈建议大家使用子主题进行开发。<br />
2.强大的配置机制，很多功能不用写代码，设置配置即可完成。<br />
3.集成了bootstrap，bootstrap是目前流行的前端框架，熟悉bootstrap的人用gkwp会更加简单，当然你也可以不用bootstrap，通过配置将默认的bootstrap去掉。<br />
4.重写了wordpress原有的小工具(widget)， 小工具独立出了模版，使我们修改小工具更加容易。<br />
5.建立主题选项超级简单。<br />
6.开发调试模式<br />
<a href="https://github.com/luofei614/gkwp" target="_blank">访问项目地址</a>
<h3>早年做过的开源项目</h3>
    早年还做过一些开源项目， 因为技术已经过时等原因，现在已经不维护了， 如toptp，jquery.think 等。
<h3>专利作品</h3>
 　     除了开源作品，还开发过一些专利<br />
1,电子考试系统： <a href="http://www.soopat.com/Patent/200920126811" target="_blank">http://www.soopat.com/Patent/200920126811(08年开发，09年授权)</a><br />
2,级联样式表解析方法及解析器、网页展示方法及服务器: <a href="http://www.soopat.com/Patent/201210185447" target="_blank">http://www.soopat.com/Patent/201210185447(在新浪工作期间开发)</a><br />
3,一种基于描述语言生成多种编程语言的应用的方法及装置: <a href="http://www.soopat.com/Patent/201210212289" target="_blank">http://www.soopat.com/Patent/201210212289(在新浪工作期间开发)</a> <br />
4,简历邮件筛选系统及方法:<a href="http://www.soopat.com/Patent/201310598050" target="_blank">http://www.soopat.com/Patent/201310598050(快简历项目专利)</a>
